Source: lingmo-motion
Section: libs
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>= 3.20),
    debhelper-compat (= 13),
    qt6-base-dev (>= 6.5),
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-motion
Rules-Requires-Root: no

Package: liblingmomotion1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lingmo-motion
 Lingmo Desktop lingmo-motion.

Package: liblingmomotion-dev
Architecture: any
Depends: liblingmomotion1 (= ${binary:Version}), ${misc:Depends}
Description: lingmo-motion - development files
 This package contains the development files.